@import 'helpers/mixins';
@import 'helpers/variables';
@import 'layout/header';
$direction:ltr;
$right:right;
$left:left;
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
    font-family: 'Cairo', sans-serif !important;
    text-transform: capitalize;
}

body {
    direction: $direction;
    text-align: $left;
}

.spinner {
    right: auto;
    left: $zero;
    direction: rtl;
}

.head-title {
    .more {
        font-family: 'Cairo', sans-serif;
        svg {
            margin-right: $zero;
            margin-left: 10px;
            @include rotate(180deg);
        }
    }
}

.alert {
    .contant {
        margin: $zero !important;
        margin-left: $com-spacing-3 !important;
        p {
            font-family: 'Cairo', sans-serif;
        }
    }
}

.pagination {
    li {
        a,
        span {
            font-family: 'Cairo', sans-serif;
            font-size: 16px;
        }
        &:first-child {
            svg {
                @include rotate(180deg);
            }
        }
        &:last-child {
            svg {
                @include rotate(180deg);
            }
        }
    }
}

.form-control {
    font-family: 'Cairo', sans-serif;
    text-transform: none;
}

.header {
    #cssmenu {
        ul {
            li {
                float: $left;
                margin-left: $zero;
                margin-right: $com-spacing-7;
                a {
                    font-family: 'Cairo', sans-serif;
                    font-size: 15px;
                    text-transform: capitalize !important;
                    font-weight: 600;
                    &:after {
                        @include position(absolute, $right: auto, $left: 0px);
                    }
                }
            }
        }
    }
    .icons {
        a {
            &:last-child {
                margin-right: $zero;
                margin-left: $com-spacing-5;
                @media (max-width: 991px) {
                    margin-right: $zero;
                    margin-left: $com-spacing-2;
                }
            }
        }
        .language {
            margin-left: $zero;
            padding-left: $zero;
            margin-right: $com-spacing-5;
            padding-right: $com-spacing-5;
            @media (max-width: 991px) {
                margin-left: $zero;
                padding-left: $zero;
                margin-right: $com-spacing-2;
                padding-right: $com-spacing-2;
            }
            &::before {
                left: $auto;
                right: $zero;
            }
        }
    }
}

@media (max-width:991px) {
    .header {
        #cssmenu {
            @include position(absolute, $left: auto, $right: 154px);
            width: 180px;
            z-index: 100;
            #menu-button {
                float: $right;
            }
            #menu-button {
                &:after {
                    @include position(absolute, $left: auto, $right: 0px);
                }
                &:before {
                    @include position(absolute, $left: auto, $right: 0px);
                }
            }
            .submenu-button {
                @include position(absolute, $left: auto, $right: 0px);
            }
        }
        #cssmenu .submenu-button.submenu-opened:before {
            display: $none;
        }
    }
}

// End Header
.title {
    font-weight: 600 !important;
    font-size: 28px !important;
    @media (max-width: 991px) {
        font-size: 22px !important;
    }
}

.bottom {
    font-size: 14px !important;
    font-family: 'Cairo', sans-serif !important;
    text-transform: capitalize;
}

.slider {
    .container {
        .bottom {
            svg {
                margin-right: $zero;
                margin-left: $com-spacing-5;
                @include rotate(180deg);
            }
        }
        .inner {
            ol.carousel-indicators {
                left: auto;
                right: -90px;
                @media (max-width: 1199px) {
                    left: auto;
                    right: -75px;
                }
                @media (max-width: 550px) {
                    left: auto;
                    right: -41px;
                }
                li {
                    &:nth-child(1) {
                        left: auto;
                        right: 84px;
                    }
                    &:nth-child(2) {
                        left: auto;
                        right: 18px;
                        @media (max-width: 1199px) {
                            left: auto;
                            right: 14px;
                        }
                    }
                    &:nth-child(3) {
                        left: auto;
                        right: -15px;
                    }
                    &:nth-child(4) {
                        left: auto;
                        right: -5px;
                        @media (max-width: 550px) {
                            left: auto;
                            right: -3px;
                        }
                    }
                    &:nth-child(5) {
                        left: auto;
                        right: 43px;
                        @media (max-width: 1199px) {
                            left: auto;
                            right: 55px;
                        }
                        @media (max-width: 550px) {
                            left: auto;
                            right: 49px;
                        }
                    }
                }
            }
        }
    }
}

.slick-next {
    left: auto !important;
    right: $zero !important;
}

.slick-prev {
    left: auto !important;
    right: $com-spacing-5 !important;
}

.best-seller {
    .item {
        border-radius: 150px 70px 20px 150px;
        a {
            direction: ltr;
            .content {
                padding-right: $zero;
                padding-left: $com-spacing-5;
                text-align: $left;
                @media (max-width: 550px) {
                    padding-right: $zero;
                    padding-left: $com-spacing-3;
                }
                .title {
                    font-size: 16px !important;
                }
            }
        }
    }
}

.about {
    &:before {
        @include position(absolute, $right: auto, $left: -450px);
        @media (max-width: 550px) {
            right: auto;
            left: -645px;
        }
    }
    .item {
        .bottom {
            svg {
                margin-right: $zero;
                margin-left: $com-spacing-2;
                @include rotate(180deg);
            }
        }
    }
}

.wizard {
    li {
        margin-left: $zero;
        margin-right: $com-spacing-4;
        a {
            &:hover {
                color: $red;
            }
            svg {
                margin-right: $zero;
                margin-left: $com-spacing-4;
                @include rotate(0deg);
            }
        }
    }
}

.about .item p,
.options li p,
.addcard {
    font-size: 14px !important;
}

.restaurant-questionnaire,
.employment {
    .item {
        .inner {
            .field {
                svg,
                img {
                    @include position(absolute, $left: auto, $right: 17px);
                }
                .custom-file-label {
                    padding-right: $zero;
                    padding-left: 150px;
                }
                .custom-file-input:lang(en)~.custom-file-label::after {
                    content: "Attach The CV ";
                    background: url(../images/up.svg) no-repeat center left;
                    right: $auto;
                    left: $com-spacing-4;
                    padding-right: 0px;
                    padding-left: 22px;
                }
                .bottom {
                    direction: ltr;
                }
            }
        }
    }
}

.privacy-policy,
.terms-and-conditions {
    .title {
        @include title;
        font-size: 24px !important;
        @media (max-width: 991px) {
            font-size: 22px !important;
        }
    }
}

.price {
    font-weight: 600 !important;
}

.most-wanted {
    .item {
        .inner {
            .title {
                font-size: 16px !important;
                @media (max-width: 991px) {
                    font-size: 16px !important;
                }
            }
            .addcard {
                svg,
                img {
                    margin-left: $zero;
                    margin-right: $com-spacing-2;
                }
            }
        }
    }
}

.list {
    .title {
        span {
            font-size: 14px !important;
        }
    }
    .text {
        font-size: 14px !important;
    }
    .list-filter {
        a {
            margin-left: $zero;
            margin-right: $com-spacing-3;
            &:last-child {
                margin-right: $zero;
            }
        }
    }
    .listicons {
        .tags {
            a {
                font-size: 14px !important;
                svg,
                img {
                    margin-left: $zero;
                    margin-right: $com-spacing-2;
                }
            }
        }
    }
    .most-wanted {
        .item {
            &.active {
                .inner {
                    .content {
                        padding-right: $zero;
                        padding-left: $com-spacing-6;
                        .addcard {
                            left: $auto;
                            right: $zero;
                        }
                    }
                }
            }
        }
    }
    .item-inner {
        @media (max-width: 991px) {
            &:last-child {
                margin: $zero;
            }
        }
        .carousel {
            padding-right: $zero;
            padding-left: 96px;
            @media (max-width: 767px) {
                padding: $zero;
            }
        }
        ol.carousel-indicators {
            left: 0px;
        }
        .ac-bot {
            padding-left: 224px;
            padding-right: 59px;
            @media (max-width: 450px) {
                padding-left: $zero;
            }
            .addcard {
                svg {
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
            .add-w {
                left: $auto;
                right: $zero;
            }
        }
    }
    .item-bra {
        .content {
            @include position(absolute, $left: auto, $right: 0px);
            .text {
                font-size: 14px;
            }
        }
    }
}

.informations {
    .nav-tabs {
        .nav-item {
            margin: $zero;
            &:last-child {
                margin-right: 0px;
                margin-left: 40px;
            }
            .nav-link {
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
    .tab-pane {
        .options {
            li {
                &:last-child {
                    margin: $zero;
                }
                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}

.partners {
    .item {
        p {
            font-size: 14px !important;
        }
        .photo {
            left: $auto;
            right: $com-spacing-3;
        }
    }
}

.min-video {
    .item {
        @media (max-width: 991px) {
            padding-left: 12px;
            padding-right: 120px;
        }
        .title {
            @media (max-width: 991px) {
                br {
                    display: none;
                }
            }
        }
    }
    p {
        font-size: 14px !important;
    }
    .cd-single-point {
        @include position(absolute, $left: auto, $right: 12px);
        &::after {
            content: '';
            @include position(absolute, $left: auto, $right: 0, );
        }
        .innerbc {
            @include position(absolute, $left: auto, $right: 0, );
        }
    }
}

.footer {
    .boxfot {
        p.text {
            font-size: 14px !important;
        }
        .title {
            font-size: 16px !important;
            @media (max-width: 991px) {
                font-size: 16px !important;
            }
        }
        .navmenu {
            a {
                font-size: 14px;
            }
        }
    }
    .copyright {
        p {
            font-size: 14px;
        }
        .social {
            a {
                margin-right: $zero;
                margin-left: $com-spacing-6;
            }
        }
    }
}

.error404 {
    .title {
        font-size: 120px !important;
        @media (max-width: 991px) {
            font-size: 100px !important;
        }
    }
}

.aboutus .content .title,
.restaurant-questionnaire .content .title,
.employment .content .title {
    font-size: 20px !important;
}

.aboutus .text,
.restaurant-questionnaire .text,
.employment .text,
.privacy-policy p,
.terms-and-conditions p {
    font-size: 14px !important;
}

.contact,
.branches {
    #map {
        left: $auto;
        right: $zero;
        @media (max-width: 991px) {
            right: $auto;
        }
    }
    .item {
        .inquiry {
            font-size: 16px !important;
        }
        .con-item {
            .title {
                font-size: 16px !important;
            }
            a.title {
                font-weight: 600;
            }
            .text {
                font-size: 14px;
            }
        }
    }
}

// End contactus
.branches {
    .item {
        .con-item {
            .title {
                font-size: 18px !important;
            }
            .text {
                font-size: 14px;
            }
            .con-item {
                a {
                    margin-left: $zero;
                    margin-right: $com-spacing-7;
                    &:last-child {
                        margin: $zero;
                    }
                    img {
                        margin-left: $zero;
                        margin-right: $com-spacing-2;
                    }
                }
            }
        }
    }
}

.profile,
.branch-reservations {
    .nav-tabs {
        .nav-item {
            margin-left: 0px;
            margin-right: 40px;
            @media (max-width: 667px) {
                margin-left: 0px;
                margin-right: $com-spacing-3;
            }
            &:last-child {
                margin: $zero;
                @media (max-width: 667px) {
                    margin: $zero;
                }
            }
            .nav-link {
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
    .tab-pane {
        .all-contant {
            .inner {
                .contant {
                    @media (max-width: 991px) {
                        margin-left: $zero;
                        margin-right: $com-spacing-7;
                    }
                    .title {
                        font-size: 14px !important;
                    }
                    .bottom {
                        @media (max-width: 991px) {
                            margin-left: $zero;
                            margin-right: $com-spacing-6;
                        }
                    }
                }
                .item {
                    @media (max-width: 991px) {
                        margin-left: $zero;
                        margin-right: $com-spacing-7;
                    }
                    .content {
                        padding-right: 0px;
                        padding-left: 10px;
                        .title {
                            font-size: 14px !important;
                        }
                    }
                }
            }
            .addcard {
                @media (max-width: 991px) {
                    margin-left: $zero;
                    margin-right: $com-spacing-6;
                }
                svg,
                img {
                    margin-left: $zero;
                    margin-right: $com-spacing-2;
                }
            }
            .itemcard {
                padding-right: 24px;
                padding-left: 88px;
                margin-top: $com-spacing-6;
                @media (max-width: 767px) {
                    padding-left: 60px;
                }
                .delet-card {
                    right: auto;
                    left: $com-spacing-6;
                }
                .item {
                    .content {
                        .title {
                            font-size: 16px !important;
                            @media (max-width: 767px) {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .inner {
        .field {
            &:last-child {
                margin: $zero;
                @media (max-width: 991px) {
                    margin: $zero;
                }
            }
            img,
            svg {
                left: auto;
                right: 28px;
            }
        }
        .selection {
            .che-box {
                .text-chek {
                    left: $auto;
                    right: $zero;
                    .title {
                        font-size: 12px !important;
                    }
                    .ac-link {
                        a {
                            svg,
                            img {
                                margin-left: 0px;
                                margin-right: $com-spacing-2;
                            }
                            &:last-child {
                                margin-right: 0px;
                                padding-right: 0px;
                                border-right: 0px;
                                margin-left: $com-spacing-5;
                                padding-left: $com-spacing-5;
                                border-left: 1px solid #C4C4C4;
                            }
                        }
                    }
                }
                input[type="radio"] {
                    @include position(absolute, $left: auto, $right: 9000px);
                }
                input[type="radio"]+.label-text:before {
                    content: "";
                    position: absolute;
                    left: auto;
                    right: 0px;
                }
                input[type="radio"]+.label-text::after {
                    content: "";
                    position: absolute;
                    left: auto;
                    right: $com-spacing-5;
                }
            }
        }
        .add-address {
            .add {
                .title {
                    font-size: 12px !important;
                    margin-right: $zero;
                    margin-left: $com-spacing-3;
                }
            }
        }
    }
}

.branch-reservations {
    .listorder {
        .text {
            font-size: 14px !important;
        }
    }
    .list-filter {
        a {
            margin-left: $zero;
            margin-right: $com-spacing-3;
            &:last-child {
                margin-right: $zero;
            }
        }
    }
}

.gallary {
    .nav-tabs {
        .nav-item {
            margin: $zero;
            margin-right: 20px;
            .nav-link {
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
}

.informations .tab-pane .text {
    font-size: 14px !important;
}

.list .listicons .gred-icons {
    direction: rtl;
}

.show-card {
    left: auto;
    right: 0;
    -webkit-transform: translateX(516px);
    -ms-transform: translateX(516px);
    transform: translateX(516px);
    .headtitle {
        .title {
            font-size: 24px !important;
            @media (max-width: 991px) {
                font-size: 20px !important;
            }
        }
    }
    .total-price {
        left: $auto;
        right: $zero;
        .list-price {
            li {
                p {
                    font-size: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
        .bottom {
            svg,
            img {
                margin-left: $zero;
                margin-right: $com-spacing-2;
            }
        }
    }
}

.itemcard {
    padding-right: 0px;
    padding-left: 36px;
    margin-bottom: $com-spacing-5;
    .delet-card {
        right: $auto;
        left: $zero;
    }
    .item {
        .content {
            padding-right: 0px;
            padding-left: 10px;
            .title {
                font-size: 16px !important;
            }
        }
    }
    .price {
        @media (max-width: 550px) {
            left: $auto;
            right: $zero;
        }
    }
    .spinner {
        right: $zero;
        left: $auto;
    }
}

.shopping-basket {
    .item-basket {
        .inner {
            .itemcard {
                &:last-child {
                    margin: $zero;
                }
            }
            .field {
                padding-left: 0px;
                padding-right: 110px;
                .bottom {
                    left: $auto;
                    right: $zero;
                }
            }
            .total-price {
                .list-price {
                    li {
                        p,
                        span {
                            font-size: 14px;
                        }
                    }
                }
                .bottom {
                    svg,
                    img {
                        margin-left: $zero;
                        margin-right: $com-spacing-2;
                    }
                }
            }
            .pricered {
                img {
                    margin-left: 0px;
                    margin-right: 10px;
                }
                span {
                    font-family: 'Cairo', sans-serif;
                }
            }
        }
        .paying {
            .title {
                font-size: 18px !important;
            }
            .selection {
                .che-box {
                    .text-chek {
                        left: $auto;
                        right: $zero;
                        cursor: pointer;
                        .title {
                            font-size: 16px !important;
                            padding-left: $zero;
                            padding-right: $com-spacing-5;
                        }
                        .ac-link {
                            a {
                                svg,
                                img {
                                    margin-left: $zero;
                                    margin-right: $com-spacing-2;
                                }
                                &:last-child {
                                    margin-right: 0px;
                                    padding-right: 0px;
                                    border-right: 0px;
                                    margin-left: $com-spacing-5;
                                    padding-left: $com-spacing-5;
                                    border-left: 1px solid #C4C4C4;
                                }
                            }
                        }
                    }
                    input[type="radio"] {
                        @include position(absolute, $left: auto, $right: 9000px);
                    }
                    input[type="radio"]+.label-text:before {
                        content: "";
                        position: absolute;
                        left: auto;
                        right: 0px;
                    }
                    input[type="radio"]+.label-text::after {
                        content: "";
                        position: absolute;
                        left: auto;
                        right: $com-spacing-5;
                        top: $com-spacing-5;
                    }
                }
            }
            .add-address {
                .add {
                    .title {
                        font-size: 16px !important;
                        margin-right: $zero;
                        margin-left: $com-spacing-2;
                    }
                }
            }
        }
    }
}

.paying-inner {
    .che-box {
        .label-text {
            font-size: 18px !important;
        }
    }
    .hidebank {
        .items-img {
            img {
                margin-left: $zero;
                margin-right: $com-spacing-2;
                &:last-child {
                    margin: $zero;
                }
            }
        }
        .field {
            svg {
                @include position(absolute, $left: auto, $right: 24px);
            }
        }
    }
}

.che-box input[type="checkbox"],
.che-box input[type="radio"] {
    left: auto !important;
    right: 9000px !important;
}

.che-box input[type="checkbox"]+.label-text:before,
.che-box input[type="radio"]+.label-text:before {
    right: $auto !important;
    left: 0px !important;
}

.che-box .label-text {
    padding: $zero !important;
    padding-left: 24px !important;
}

.paying-inner .che-box .label-text span,
.paying-inner .che-box .label-text {
    font-family: 'Cairo', sans-serif;
}

.login,
.add-ad {
    .headtitle {
        .title {
            @include title;
            font-size: 22px !important;
        }
    }
    .text {
        font-size: 14px;
        span {
            font-family: 'Cairo', sans-serif;
            font-size: 14px;
        }
    }
    .field {
        .item {}
        svg {
            @include position(absolute, $left: auto, $right: 28px);
        }
        .dr-left {
            direction: rtl;
            padding-left: $zero;
            padding-right: $com-spacing-7;
        }
        .bottom {
            direction: ltr;
            svg {
                margin-left: $zero;
                margin-right: $com-spacing-2;
            }
        }
    }
    .textsign {
        a {
            margin-right: 0px;
            margin-left: 5px;
        }
    }
}

.add-ad {
    .field {
        direction: ltr;
        svg {
            left: $auto;
            right: $com-spacing-6;
        }
    }
}

//  End signup & login & forget
.modal {
    #stars {
        @media (max-width: 991px) {
            padding-left: 0px;
            padding-right: 16px;
        }
        @media (max-width: 767px) {
            padding-right: $zero;
        }
    }
}

.modal #stars li.star svg {
    left: 0px;
}