//
// Override global variables
//

// Theme colors
$primary:       									#D1362A;
$primary-hover:                                     #b32f25;
$primary-light:    									#FFE2E5;
$primary-inverse:  									#FFFFFF;

// Border Radiues
$border-radius:            						    .85rem;
